<p>Frequentemente referenciado como Rails ou RoR, o Ruby on Rails <br />
é um projeto de código aberto escrito na linguagem de programação <br />
Ruby. As aplicações criadas utilizando o framework Rails são <br />
desenvolvidas com base no padrão de arquitetura MVC (Model-View-Controller).</p>