<div class="panel"></div>
    
    <div class="panel panel-heading">
        <h1>About Framework</h1>
    </div>

    <div class="panel panel-body">
        <p>Ruby é uma linguagem de programação interpretada multiparadigma, <br /> 
        de tipagem dinâmica e forte, com gerenciamento de memória automático, <br /> 
        originalmente planejada e desenvolvida no Japão em 1995, por Yukihiro "Matz" <br /> 
        Matsumoto, para ser usada como linguagem de script.</p>
    </div>
    
    <div class="panel-footer text-center">
        <%= link_to '<i class="fa fa-long-arrow-left fa-3x" aria-hidden="true"></i>'.html_safe, home_index_path%>
    </div>
    
</div>